# Ignore everything
**

!.eslintrc.js
!.prettierrc
!command
!config.schema.json
!jest.config.ts
!nuxt.config.ts
!package.json
!README.md
!src
!tests
!tsconfig.json
!yarn.lock

tests/data.test.json
tests/patient.test.json
tests/sample.test.json
